name: Build and Deploy SageMaker Pipeline

on:
  push:
    branches:
      - main  
    paths:
      - 'mlops/**' # KÍCH HOẠT khi code trong 'mlops/' thay đổi

jobs:
  build-pipeline:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }} 

      - name: Install dependencies (boto3, sagemaker)
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade boto3 "sagemaker>=2.100.0" pandas

      - name: Run Build Pipeline
        run: |
          python mlops/build_pipeline.py
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
